@using MVC_KUTUPHANE.Models.Entity
@model List<TblHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>İadesi Alınan Kitap Listesi</h2>

<table class="table table-striped">
    <tr>
        <th>İşlem ID</th>
        <th>İşlem Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TblKitap.AD</td>
            <td>@k.TblUyeler.AD&nbsp @k.TblUyeler.SOYAD</td>
            <td>@k.TblPersonel.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/Odunc/Odunciade/@k.ID" class="btn btn-defaut"
                   style="background-color:#e71d74; color:white">Detaylar</a>
            </td>
        </tr>
    }
</table>

