@model MVC_KUTUPHANE.Models.Entity.TblHareket
@{
    ViewBag.Title = "Odunciade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <div style="margin-top:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(k => k.TblKitap.AD, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Üye</label>
            @Html.TextBoxFor(k => k.TblUyeler.AD, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Personel</label>
            @Html.TextBoxFor(k => k.TblPersonel.PERSONEL, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Alış Tarihi</label>
            @Html.TextBoxFor(k => k.ALISTARIH, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>İade Tarihi</label>
            @Html.TextBoxFor(k => k.IADETARIH, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>Üyenin Getirdiği Tarih</label>
            <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
            <br />
            <label>Geç Gelen Gün Sayısı</label> @*üyenin kitabı kaç gün geç getirdiği*@
            <input type="text" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-info" style="background-color:olivedrab; color:white">Ödünç Kitabı Geri Al</button>
        
    </div>
}


